-- Run this SQL in your Supabase SQL Editor to create the verification_codes table

CREATE TABLE IF NOT EXISTS verification_codes (
  id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
  email TEXT NOT NULL,
  code TEXT NOT NULL,
  expires_at TIMESTAMP WITH TIME ZONE NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
  used BOOLEAN DEFAULT FALSE
);

-- Create indexes for faster lookups
CREATE INDEX IF NOT EXISTS idx_verification_codes_email ON verification_codes(email);
CREATE INDEX IF NOT EXISTS idx_verification_codes_code ON verification_codes(code);
CREATE INDEX IF NOT EXISTS idx_verification_codes_expires_at ON verification_codes(expires_at);

-- Enable RLS
ALTER TABLE verification_codes ENABLE ROW LEVEL SECURITY;

-- Create policy for service role
CREATE POLICY \
Service
role
can
manage
verification
codes\ ON verification_codes
  FOR ALL USING (auth.role() = 'service_role');

-- Create policy for users to read their own codes
CREATE POLICY \Users
can
read
their
own
verification
codes\ ON verification_codes
  FOR SELECT USING (auth.email() = email);

-- Grant permissions
GRANT ALL ON verification_codes TO service_role;
GRANT SELECT ON verification_codes TO authenticated;
